<svg>

</svg>
{{!-- <ul class="swagifacts" style="position: absolute; left: 0;">
  {{#each swagifact in swagifacts}}
    <li><strong>Name:</strong> <p>{{swagifact.name}}</p></li>
    <li><strong>description:</strong> <p>{{swagifact.description}}</p></li>
    <li><strong>requires:</strong>
      <ul class="requires">
        {{#each swagifact.requires as |skill|}}
        <li class="{{if skill.completed 'completed'}}">{{skill.name}}</li>
        {{/each}}
      </ul>
    </li>
    <li><strong>provides:</strong>
      <ul class="provides">
        {{#each swagifact.provides as |skill|}}
        <li class="{{if skill.completed 'completed'}}">{{skill.name}}</li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul> --}}
