<div class="col-md-9">
  <h1 class="display-4">{{model.name}}</h1>

  {{swag-map swagifacts=model.swagifacts}}
</div>

<div class="col-md-3">
  <h3>Skills:</h3>
  <p>
    Uncheck skills you don't want/need.
  </p>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>

        </th>
        <th>
          Name
        </th>
        <th>
          fufilled
        </th>
      </tr>
    </thead>
    <tbody>

    {{#each skills as |skill|}}
      <tr class="{{unless skill.wanted 'fade-row'}}">
        <td>{{input type="checkbox" checked=skill.wanted}}</td>
        <td>{{skill.name}}</td>
        <td>{{#if skill.fufilled}}{{fa-icon 'tick'}}{{else}}{{fa-icon 'times'}}{{/if}}</td>
      </tr>
    {{/each}}

  </tbody>
  </table>
</div>
