<h1>{{model.name}}</h1>

  <div class="modify-swagmap">
  <fieldset>
      <legend>Modify Swagmap</legend>
    <div class="row">
      <div class="large-12 columns">
        <label>Vertical Seperation
        <div>{{input type="range" value=verticalSeperation min="50" max="400"}}</div>

        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>"Curviness"
        <div>{{input type="range" value=curviness min="50" max="400"}}</div>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Length
        <div>{{input type="range" value=mapLength min="2" max="8"}}</div>
        </label>
      </div>
    </div>
    </<fieldset>
  </div>

  <div class="overview">
    <h3>User Skills:</h3>
    <ul>
      {{#each currentUser.model.skills as |skill|}}
        <li>{{skill.name}}</li>
      {{/each}}
    </ul>
  </div>

{{swag-map title=model.title swagifacts=model.swagifacts mapLength=mapLength verticalSeperation=verticalSeperation curviness=curviness}}
